In [41]:
import warnings
warnings.filterwarnings('ignore')

The next cell needs to be executed only once - the first time when you are running this on a particular host

In [32]:
!pip install python-espncricinfo
!pip install grequests
!pip install pandas
!pip install numpy
!pip install plyer

Requirement already satisfied: python-espncricinfo in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: dateparser in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from python-espncricinfo) (0.7.1)
Requirement already satisfied: requests in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from python-espncricinfo) (2.21.0)
Requirement already satisfied: bs4 in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from python-espncricinfo) (0.0.1)
Requirement already satisfied: tzlocal in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from dateparser->python-espncricinfo) (1.5.1)
Requirement already satisfied: python-dateutil in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from dateparser->python-espncricinfo) (2.8.0)
Requirement already satisfied: pytz in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from dateparser->python-espncricinfo) (2018.9)
Requirement already satisfied: regex in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from dateparser->python-espncricinfo) (2019.4.14)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from requests->python-espncricinfo) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from requests->python-espncricinfo) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from requests->python-espncricinfo) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from requests->python-espncricinfo) (2019.3.9)
Requirement already satisfied: beautifulsoup4 in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from bs4->python-espncricinfo) (4.7.1)
Requirement already satisfied: six>=1.5 in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from python-dateutil->dateparser->python-espncricinfo) (1.12.0)
Requirement already satisfied: soupsieve>=1.2 in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from beautifulsoup4->bs4->python-espncricinfo) (1.8)
Requirement already satisfied: grequests in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (0.3.0)
Requirement already satisfied: requests in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from grequests) (2.21.0)
Requirement already satisfied: gevent in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from grequests) (1.4.0)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from requests->grequests) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from requests->grequests) (2019.3.9)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from requests->grequests) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from requests->grequests) (1.24.1)
Requirement already satisfied: greenlet>=0.4.14 in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from gevent->grequests) (0.4.15)
Requirement already satisfied: cffi>=1.11.5 in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from gevent->grequests) (1.12.2)
Requirement already satisfied: pycparser in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from cffi>=1.11.5->gevent->grequests) (2.19)
Requirement already satisfied: pandas in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: numpy>=1.12.0 in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from pandas) (1.16.2)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2011k in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)
Requirement already satisfied: numpy in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (1.16.2)
Requirement already satisfied: plyer in c:\users\ksaha\appdata\local\continuum\anaconda3\lib\site-packages (1.4.0)

This will take a while:

In [33]:
from espncricinfo.summary import Summary
from espncricinfo.match import Match 
from espncricinfo.series import Series
from espncricinfo.exceptions import MatchNotFoundError, NoScorecardError

In [34]:
from bs4 import BeautifulSoup

In [35]:
import json
import requests

In [36]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [42]:
import warnings
warnings.filterwarnings('ignore')

Get a match id as import from user. Match id is a numeric value (e.g 1178415) used by espncricinfo as unique identifier for a match

In [53]:
match_id = input("Please enter match id :")

Please enter match id :1178416

Based on the match_id, generate the scorecard URL

In [54]:
url = Match(match_id).match_url
print("Will extract match details from ", url)

Will extract match details from  http://www.espncricinfo.com/matches/engine/match/1178416.html

In [84]:
summary = Match(match_id).current_summary
description = Match(match_id).description
status = Match(match_id).status
result = Match(match_id).result
match_going_on = not ( ('won' in result) | ('tied' in result))

In [87]:
from plyer import notification

if ( (status == 'current') & match_going_on):
    notification.notify(
        title='Scorecard',
        message=summary,
        app_name='Scorecard'
    )

In [90]:
match_html = Match(match_id).html

In [91]:
match_json = json.loads(match_html.find_all('script')[12].get_text().replace("\n", " ").replace('window.__INITIAL_STATE__ =','').replace('&dagger;','wk').replace('&amp;','').replace('wkts;','wkts,').replace('wkt;','wkt,').strip().replace('};', "}};").split('};')[0])

In [107]:
playerOfTheMatch = ''
featured_player = match_json['gamePackage']['matchDetails']['featuredAthletesDetails'][0]
if ('playerOfTheMatch' == featured_player[0]):
    playerOfTheMatch = featured_player[1][0]['name']
print('The player of the match award went to ',playerOfTheMatch)

The palayer of the match award went to  Shane Watson

In [17]:
batting_innings_1 = pd.DataFrame(match_json['gamePackage']['scorecard']['innings']['1']['batsmen'])
batting_innings_1.head()

,captain,commentary,hasVideoId,href,isNotOut,name,roles,runningOver,runningScore,shortText,stats,trackingName
0,False,"sharp turn, and Dhoni's appealing for a stumpi...",False,http://www.espncricinfo.com/ci/content/player/...,False,DA Warner,,{'overs': 13.3},"{'wickets': 2, 'runs': 120}",st wkDhoni b Harbhajan Singh,"[{'name': 'runs', 'text': 'R', 'value': '57'},...",&lpos=cricket:game:game:player
1,False,<strong>looks to cut and pays the price!</stro...,False,http://www.espncricinfo.com/ci/content/player/...,False,JM Bairstow,wk,{'overs': 1.3},"{'wickets': 1, 'runs': 5}",c wkDhoni b Harbhajan Singh,"[{'name': 'runs', 'text': 'R', 'value': '0'}, ...",&lpos=cricket:game:game:player
2,False,,False,http://www.espncricinfo.com/ci/content/player/...,True,MK Pandey,,{},{},not out,"[{'name': 'runs', 'text': 'R', 'value': '80'},...",&lpos=cricket:game:game:player
3,False,,False,http://www.espncricinfo.com/ci/content/player/...,True,V Shankar,,{},{},not out,"[{'name': 'runs', 'text': 'R', 'value': '26'},...",&lpos=cricket:game:game:player

In [18]:
bat1_label = match_json['gamePackage']['scorecard']['innings']['1']['title']
bat1_label_splits = bat1_label.split(' ')
bat1_label_splits.pop()
bat1_team =  " ".join(bat1_label_splits)
print(bat1_team, "batted first")

Sunrisers Hyderabad batted first

In [19]:
batting_innings_2 = pd.DataFrame(match_json['gamePackage']['scorecard']['innings']['2']['batsmen'])
batting_innings_2.head()

KeyError: '2'

In [98]:
bat2_label = match_json['gamePackage']['scorecard']['innings']['2']['title']
bat2_label_splits = bat2_label.split(' ')
bat2_label_splits.pop()
bat2_team =  " ".join(bat2_label_splits)
print(bat2_team, "batted second")

Rajasthan Royals batted second

In [99]:
batting_innings_1['Team'] = bat1_team
batting_innings_1['Opponent'] = bat2_team
batting_innings_2['Team'] = bat2_team
batting_innings_2['Opponent'] = bat1_team

In [100]:
def flatten(js):
    return pd.DataFrame(js).set_index(['text','name']).squeeze()

Extract batting stats for batting innings 1

In [101]:
batting_innings_1_stats = batting_innings_1.stats.apply(flatten)
batting_innings_1_stats

text    R          B       M    4s    6s         SR
name runs ballsFaced minutes fours sixes strikeRate
0      65         47      74     6     2     138.29
1       5          7      13     1     0      71.42
2      34         33      58     1     1     103.03
3      23         15      37     2     1     153.33
4      10          7      16     0     1     142.85
5      13          9      20     1     1     144.44
6       2          2       4     0     0     100.00

Extract batting stats for batting innings 2

In [102]:
batting_innings_2_stats = batting_innings_1.stats.apply(flatten)
batting_innings_2_stats

text    R          B       M    4s    6s         SR
name runs ballsFaced minutes fours sixes strikeRate
0      65         47      74     6     2     138.29
1       5          7      13     1     0      71.42
2      34         33      58     1     1     103.03
3      23         15      37     2     1     153.33
4      10          7      16     0     1     142.85
5      13          9      20     1     1     144.44
6       2          2       4     0     0     100.00

In [103]:
def remove_extra_cols_bat(df):
    if df.columns.contains('captain'):
        df = df.drop(['captain','commentary','runningScore','runningOver', 'stats','hasVideoId','href','roles','trackingName'], axis=1)
    return df

In [104]:
batting_innings_1 = remove_extra_cols_bat(batting_innings_1)
batting_innings_2 = remove_extra_cols_bat(batting_innings_2)

In [105]:
batting_innings_1

   isNotOut         name           shortText            Team          Opponent
0     False    Q de Kock    c Stokes b Gopal  Mumbai Indians  Rajasthan Royals
1     False    RG Sharma          c  b Gopal  Mumbai Indians  Rajasthan Royals
2     False     SA Yadav  c Kulkarni b Binny  Mumbai Indians  Rajasthan Royals
3     False    HH Pandya        lbw b Archer  Mumbai Indians  Rajasthan Royals
4     False   KA Pollard           b Unadkat  Mumbai Indians  Rajasthan Royals
5      True  BCJ Cutting             not out  Mumbai Indians  Rajasthan Royals
6      True    KH Pandya             not out  Mumbai Indians  Rajasthan Royals

In [106]:
batting_innings_2

,isNotOut,name,shortText,Team,Opponent
0,False,AM Rahane,c Yadav b Chahar,Rajasthan Royals,Mumbai Indians
1,False,SV Samson,c Pollard b Chahar,Rajasthan Royals,Mumbai Indians
2,True,SPD Smith,not out,Rajasthan Royals,Mumbai Indians
3,False,BA Stokes,b Chahar,Rajasthan Royals,Mumbai Indians
4,False,R Parag,run out (Cutting/Pandya),Rajasthan Royals,Mumbai Indians
5,False,AJ Turner,lbw b Bumrah,Rajasthan Royals,Mumbai Indians
6,True,STR Binny,not out,Rajasthan Royals,Mumbai Indians

In [107]:
full_batting_innings_1 = pd.concat([batting_innings_1, batting_innings_1_stats], axis=1)
full_batting_innings_1 = full_batting_innings_1.dropna()
full_batting_innings_1

,isNotOut,name,shortText,Team,Opponent,"(R, runs)","(B, ballsFaced)","(M, minutes)","(4s, fours)","(6s, sixes)","(SR, strikeRate)"
0,False,Q de Kock,c Stokes b Gopal,Mumbai Indians,Rajasthan Royals,65,47,74,6,2,138.29
1,False,RG Sharma,c b Gopal,Mumbai Indians,Rajasthan Royals,5,7,13,1,0,71.42
2,False,SA Yadav,c Kulkarni b Binny,Mumbai Indians,Rajasthan Royals,34,33,58,1,1,103.03
3,False,HH Pandya,lbw b Archer,Mumbai Indians,Rajasthan Royals,23,15,37,2,1,153.33
4,False,KA Pollard,b Unadkat,Mumbai Indians,Rajasthan Royals,10,7,16,0,1,142.85
5,True,BCJ Cutting,not out,Mumbai Indians,Rajasthan Royals,13,9,20,1,1,144.44
6,True,KH Pandya,not out,Mumbai Indians,Rajasthan Royals,2,2,4,0,0,100.00

In [108]:
full_batting_innings_2 = pd.concat([batting_innings_2, batting_innings_2_stats], axis=1)
full_batting_innings_2 = full_batting_innings_2.dropna()
full_batting_innings_2

,isNotOut,name,shortText,Team,Opponent,"(R, runs)","(B, ballsFaced)","(M, minutes)","(4s, fours)","(6s, sixes)","(SR, strikeRate)"
0,False,AM Rahane,c Yadav b Chahar,Rajasthan Royals,Mumbai Indians,65,47,74,6,2,138.29
1,False,SV Samson,c Pollard b Chahar,Rajasthan Royals,Mumbai Indians,5,7,13,1,0,71.42
2,True,SPD Smith,not out,Rajasthan Royals,Mumbai Indians,34,33,58,1,1,103.03
3,False,BA Stokes,b Chahar,Rajasthan Royals,Mumbai Indians,23,15,37,2,1,153.33
4,False,R Parag,run out (Cutting/Pandya),Rajasthan Royals,Mumbai Indians,10,7,16,0,1,142.85
5,False,AJ Turner,lbw b Bumrah,Rajasthan Royals,Mumbai Indians,13,9,20,1,1,144.44
6,True,STR Binny,not out,Rajasthan Royals,Mumbai Indians,2,2,4,0,0,100.00

In [109]:
batting = pd.concat([full_batting_innings_1, full_batting_innings_2], axis=0)
batting

,isNotOut,name,shortText,Team,Opponent,"(R, runs)","(B, ballsFaced)","(M, minutes)","(4s, fours)","(6s, sixes)","(SR, strikeRate)"
0,False,Q de Kock,c Stokes b Gopal,Mumbai Indians,Rajasthan Royals,65,47,74,6,2,138.29
1,False,RG Sharma,c b Gopal,Mumbai Indians,Rajasthan Royals,5,7,13,1,0,71.42
2,False,SA Yadav,c Kulkarni b Binny,Mumbai Indians,Rajasthan Royals,34,33,58,1,1,103.03
3,False,HH Pandya,lbw b Archer,Mumbai Indians,Rajasthan Royals,23,15,37,2,1,153.33
4,False,KA Pollard,b Unadkat,Mumbai Indians,Rajasthan Royals,10,7,16,0,1,142.85
5,True,BCJ Cutting,not out,Mumbai Indians,Rajasthan Royals,13,9,20,1,1,144.44
6,True,KH Pandya,not out,Mumbai Indians,Rajasthan Royals,2,2,4,0,0,100.00
0,False,AM Rahane,c Yadav b Chahar,Rajasthan Royals,Mumbai Indians,65,47,74,6,2,138.29
1,False,SV Samson,c Pollard b Chahar,Rajasthan Royals,Mumbai Indians,5,7,13,1,0,71.42
2,True,SPD Smith,not out,Rajasthan Royals,Mumbai Indians,34,33,58,1,1,103.03
3,False,BA Stokes,b Chahar,Rajasthan Royals,Mumbai Indians,23,15,37,2,1,153.33
4,False,R Parag,run out (Cutting/Pandya),Rajasthan Royals,Mumbai Indians,10,7,16,0,1,142.85
5,False,AJ Turner,lbw b Bumrah,Rajasthan Royals,Mumbai Indians,13,9,20,1,1,144.44
6,True,STR Binny,not out,Rajasthan Royals,Mumbai Indians,2,2,4,0,0,100.00

Tidy up the column names

In [110]:
batting.columns = ["isNotOut","name","out","team","opponent","runs","balls","mins","fours","sixes","strikeRate"]
batting

,isNotOut,name,out,team,opponent,runs,balls,mins,fours,sixes,strikeRate
0,False,Q de Kock,c Stokes b Gopal,Mumbai Indians,Rajasthan Royals,65,47,74,6,2,138.29
1,False,RG Sharma,c b Gopal,Mumbai Indians,Rajasthan Royals,5,7,13,1,0,71.42
2,False,SA Yadav,c Kulkarni b Binny,Mumbai Indians,Rajasthan Royals,34,33,58,1,1,103.03
3,False,HH Pandya,lbw b Archer,Mumbai Indians,Rajasthan Royals,23,15,37,2,1,153.33
4,False,KA Pollard,b Unadkat,Mumbai Indians,Rajasthan Royals,10,7,16,0,1,142.85
5,True,BCJ Cutting,not out,Mumbai Indians,Rajasthan Royals,13,9,20,1,1,144.44
6,True,KH Pandya,not out,Mumbai Indians,Rajasthan Royals,2,2,4,0,0,100.00
0,False,AM Rahane,c Yadav b Chahar,Rajasthan Royals,Mumbai Indians,65,47,74,6,2,138.29
1,False,SV Samson,c Pollard b Chahar,Rajasthan Royals,Mumbai Indians,5,7,13,1,0,71.42
2,True,SPD Smith,not out,Rajasthan Royals,Mumbai Indians,34,33,58,1,1,103.03
3,False,BA Stokes,b Chahar,Rajasthan Royals,Mumbai Indians,23,15,37,2,1,153.33
4,False,R Parag,run out (Cutting/Pandya),Rajasthan Royals,Mumbai Indians,10,7,16,0,1,142.85
5,False,AJ Turner,lbw b Bumrah,Rajasthan Royals,Mumbai Indians,13,9,20,1,1,144.44
6,True,STR Binny,not out,Rajasthan Royals,Mumbai Indians,2,2,4,0,0,100.00

In [111]:
bowling_innings_1 = pd.DataFrame(match_json['gamePackage']['scorecard']['innings']['1']['bowlers'])
bowling_innings_1

,captain,hasVideoId,href,name,roles,stats,trackingName
0,False,False,http://www.espncricinfo.com/ci/content/player/...,STR Binny,,"[{'name': 'overs', 'text': 'O', 'value': '3'},...",&lpos=cricket:game:scorecard:player
1,False,False,http://www.espncricinfo.com/ci/content/player/...,DS Kulkarni,,"[{'name': 'overs', 'text': 'O', 'value': '3'},...",&lpos=cricket:game:scorecard:player
2,False,False,http://www.espncricinfo.com/ci/content/player/...,S Gopal,,"[{'name': 'overs', 'text': 'O', 'value': '4'},...",&lpos=cricket:game:scorecard:player
3,False,False,http://www.espncricinfo.com/ci/content/player/...,JC Archer,,"[{'name': 'overs', 'text': 'O', 'value': '4'},...",&lpos=cricket:game:scorecard:player
4,False,False,http://www.espncricinfo.com/ci/content/player/...,JD Unadkat,,"[{'name': 'overs', 'text': 'O', 'value': '4'},...",&lpos=cricket:game:scorecard:player
5,False,False,http://www.espncricinfo.com/ci/content/player/...,R Parag,,"[{'name': 'overs', 'text': 'O', 'value': '2'},...",&lpos=cricket:game:scorecard:player

In [112]:
bowling_innings_2 = pd.DataFrame(match_json['gamePackage']['scorecard']['innings']['2']['bowlers'])
bowling_innings_2

,captain,hasVideoId,href,name,roles,stats,trackingName
0,False,False,http://www.espncricinfo.com/ci/content/player/...,HH Pandya,,"[{'name': 'overs', 'text': 'O', 'value': '4'},...",&lpos=cricket:game:scorecard:player
1,False,False,http://www.espncricinfo.com/ci/content/player/...,KH Pandya,,"[{'name': 'overs', 'text': 'O', 'value': '2'},...",&lpos=cricket:game:scorecard:player
2,False,False,http://www.espncricinfo.com/ci/content/player/...,SL Malinga,,"[{'name': 'overs', 'text': 'O', 'value': '3.1'...",&lpos=cricket:game:scorecard:player
3,False,False,http://www.espncricinfo.com/ci/content/player/...,RD Chahar,,"[{'name': 'overs', 'text': 'O', 'value': '4'},...",&lpos=cricket:game:scorecard:player
4,False,False,http://www.espncricinfo.com/ci/content/player/...,JJ Bumrah,,"[{'name': 'overs', 'text': 'O', 'value': '4'},...",&lpos=cricket:game:scorecard:player
5,False,False,http://www.espncricinfo.com/ci/content/player/...,M Markande,,"[{'name': 'overs', 'text': 'O', 'value': '2'},...",&lpos=cricket:game:scorecard:player

In [113]:
bowling_innings_1['Team'] = bat2_team
bowling_innings_1['Opponent'] = bat1_team
bowling_innings_2['Team'] = bat1_team
bowling_innings_2['Opponent'] = bat2_team

In [114]:
bowling_innings_1_stats = bowling_innings_1.stats.apply(flatten)
bowling_innings_1_stats

text,O,M,R,W,Econ,0s,4s,6s,WD,NB
name,overs,maidens,conceded,wickets,economyRate,dots,foursConceded,sixesConceded,wides,noballs
0,3,0,19,1,6.33,8,2,0,0,0
1,3,0,31,0,10.33,6,4,1,1,0
2,4,0,21,2,5.25,8,1,0,0,0
3,4,0,22,1,5.50,14,2,1,0,0
4,4,0,46,1,11.50,6,2,3,3,0
5,2,0,17,0,8.50,2,0,1,0,0

In [115]:
bowling_innings_2_stats = bowling_innings_2.stats.apply(flatten)
bowling_innings_2_stats

text,O,M,R,W,Econ,0s,4s,6s,WD,NB
name,overs,maidens,conceded,wickets,economyRate,dots,foursConceded,sixesConceded,wides,noballs
0,4,0,31,0,7.75,10,5,0,0,0
1,2,0,24,0,12.00,1,4,0,0,0
2,3.1,0,27,0,8.52,6,4,0,0,0
3,4,0,29,3,7.25,10,3,1,0,0
4,4,0,21,1,5.25,8,1,0,0,0
5,2,0,24,0,12.00,4,2,2,0,0

In [116]:
def remove_extra_cols_bowl(df):
    if df.columns.contains('captain'):
        df = df.drop(['captain','stats','hasVideoId','href','roles','trackingName'], axis=1)
    return df

In [117]:
bowling_innings_1 = remove_extra_cols_bowl(bowling_innings_1)
bowling_innings_2 = remove_extra_cols_bowl(bowling_innings_2)

In [118]:
bowling_innings_1

          name              Team        Opponent
0    STR Binny  Rajasthan Royals  Mumbai Indians
1  DS Kulkarni  Rajasthan Royals  Mumbai Indians
2      S Gopal  Rajasthan Royals  Mumbai Indians
3    JC Archer  Rajasthan Royals  Mumbai Indians
4   JD Unadkat  Rajasthan Royals  Mumbai Indians
5      R Parag  Rajasthan Royals  Mumbai Indians

In [119]:
bowling_innings_2

         name            Team          Opponent
0   HH Pandya  Mumbai Indians  Rajasthan Royals
1   KH Pandya  Mumbai Indians  Rajasthan Royals
2  SL Malinga  Mumbai Indians  Rajasthan Royals
3   RD Chahar  Mumbai Indians  Rajasthan Royals
4   JJ Bumrah  Mumbai Indians  Rajasthan Royals
5  M Markande  Mumbai Indians  Rajasthan Royals

In [120]:
full_bowling_innings_1 = pd.concat([bowling_innings_1, bowling_innings_1_stats], axis=1)
full_bowling_innings_1 = full_bowling_innings_1.dropna()
full_bowling_innings_1

,name,Team,Opponent,"(O, overs)","(M, maidens)","(R, conceded)","(W, wickets)","(Econ, economyRate)","(0s, dots)","(4s, foursConceded)","(6s, sixesConceded)","(WD, wides)","(NB, noballs)"
0,STR Binny,Rajasthan Royals,Mumbai Indians,3,0,19,1,6.33,8,2,0,0,0
1,DS Kulkarni,Rajasthan Royals,Mumbai Indians,3,0,31,0,10.33,6,4,1,1,0
2,S Gopal,Rajasthan Royals,Mumbai Indians,4,0,21,2,5.25,8,1,0,0,0
3,JC Archer,Rajasthan Royals,Mumbai Indians,4,0,22,1,5.50,14,2,1,0,0
4,JD Unadkat,Rajasthan Royals,Mumbai Indians,4,0,46,1,11.50,6,2,3,3,0
5,R Parag,Rajasthan Royals,Mumbai Indians,2,0,17,0,8.50,2,0,1,0,0

In [121]:
full_bowling_innings_2 = pd.concat([bowling_innings_2, bowling_innings_2_stats], axis=1)
full_bowling_innings_2 = full_bowling_innings_2.dropna()
full_bowling_innings_2

,name,Team,Opponent,"(O, overs)","(M, maidens)","(R, conceded)","(W, wickets)","(Econ, economyRate)","(0s, dots)","(4s, foursConceded)","(6s, sixesConceded)","(WD, wides)","(NB, noballs)"
0,HH Pandya,Mumbai Indians,Rajasthan Royals,4,0,31,0,7.75,10,5,0,0,0
1,KH Pandya,Mumbai Indians,Rajasthan Royals,2,0,24,0,12.00,1,4,0,0,0
2,SL Malinga,Mumbai Indians,Rajasthan Royals,3.1,0,27,0,8.52,6,4,0,0,0
3,RD Chahar,Mumbai Indians,Rajasthan Royals,4,0,29,3,7.25,10,3,1,0,0
4,JJ Bumrah,Mumbai Indians,Rajasthan Royals,4,0,21,1,5.25,8,1,0,0,0
5,M Markande,Mumbai Indians,Rajasthan Royals,2,0,24,0,12.00,4,2,2,0,0

In [122]:
bowling = pd.concat([full_bowling_innings_1, full_bowling_innings_2], axis=0)
bowling

,name,Team,Opponent,"(O, overs)","(M, maidens)","(R, conceded)","(W, wickets)","(Econ, economyRate)","(0s, dots)","(4s, foursConceded)","(6s, sixesConceded)","(WD, wides)","(NB, noballs)"
0,STR Binny,Rajasthan Royals,Mumbai Indians,3,0,19,1,6.33,8,2,0,0,0
1,DS Kulkarni,Rajasthan Royals,Mumbai Indians,3,0,31,0,10.33,6,4,1,1,0
2,S Gopal,Rajasthan Royals,Mumbai Indians,4,0,21,2,5.25,8,1,0,0,0
3,JC Archer,Rajasthan Royals,Mumbai Indians,4,0,22,1,5.50,14,2,1,0,0
4,JD Unadkat,Rajasthan Royals,Mumbai Indians,4,0,46,1,11.50,6,2,3,3,0
5,R Parag,Rajasthan Royals,Mumbai Indians,2,0,17,0,8.50,2,0,1,0,0
0,HH Pandya,Mumbai Indians,Rajasthan Royals,4,0,31,0,7.75,10,5,0,0,0
1,KH Pandya,Mumbai Indians,Rajasthan Royals,2,0,24,0,12.00,1,4,0,0,0
2,SL Malinga,Mumbai Indians,Rajasthan Royals,3.1,0,27,0,8.52,6,4,0,0,0
3,RD Chahar,Mumbai Indians,Rajasthan Royals,4,0,29,3,7.25,10,3,1,0,0
4,JJ Bumrah,Mumbai Indians,Rajasthan Royals,4,0,21,1,5.25,8,1,0,0,0
5,M Markande,Mumbai Indians,Rajasthan Royals,2,0,24,0,12.00,4,2,2,0,0

Tidy up the column names

In [123]:
bowling.columns = ['name','team','opponent','overs','maidens','conceded','wickets','economy','dots','fours','sixes','wides','noballs']
bowling

,name,team,opponent,overs,maidens,conceded,wickets,economy,dots,fours,sixes,wides,noballs
0,STR Binny,Rajasthan Royals,Mumbai Indians,3,0,19,1,6.33,8,2,0,0,0
1,DS Kulkarni,Rajasthan Royals,Mumbai Indians,3,0,31,0,10.33,6,4,1,1,0
2,S Gopal,Rajasthan Royals,Mumbai Indians,4,0,21,2,5.25,8,1,0,0,0
3,JC Archer,Rajasthan Royals,Mumbai Indians,4,0,22,1,5.50,14,2,1,0,0
4,JD Unadkat,Rajasthan Royals,Mumbai Indians,4,0,46,1,11.50,6,2,3,3,0
5,R Parag,Rajasthan Royals,Mumbai Indians,2,0,17,0,8.50,2,0,1,0,0
0,HH Pandya,Mumbai Indians,Rajasthan Royals,4,0,31,0,7.75,10,5,0,0,0
1,KH Pandya,Mumbai Indians,Rajasthan Royals,2,0,24,0,12.00,1,4,0,0,0
2,SL Malinga,Mumbai Indians,Rajasthan Royals,3.1,0,27,0,8.52,6,4,0,0,0
3,RD Chahar,Mumbai Indians,Rajasthan Royals,4,0,29,3,7.25,10,3,1,0,0
4,JJ Bumrah,Mumbai Indians,Rajasthan Royals,4,0,21,1,5.25,8,1,0,0,0
5,M Markande,Mumbai Indians,Rajasthan Royals,2,0,24,0,12.00,4,2,2,0,0

In [124]:
batting = batting.set_index("name")
batting

,isNotOut,out,team,opponent,runs,balls,mins,fours,sixes,strikeRate
name,,,,,,,,,,
Q de Kock,False,c Stokes b Gopal,Mumbai Indians,Rajasthan Royals,65,47,74,6,2,138.29
RG Sharma,False,c b Gopal,Mumbai Indians,Rajasthan Royals,5,7,13,1,0,71.42
SA Yadav,False,c Kulkarni b Binny,Mumbai Indians,Rajasthan Royals,34,33,58,1,1,103.03
HH Pandya,False,lbw b Archer,Mumbai Indians,Rajasthan Royals,23,15,37,2,1,153.33
KA Pollard,False,b Unadkat,Mumbai Indians,Rajasthan Royals,10,7,16,0,1,142.85
BCJ Cutting,True,not out,Mumbai Indians,Rajasthan Royals,13,9,20,1,1,144.44
KH Pandya,True,not out,Mumbai Indians,Rajasthan Royals,2,2,4,0,0,100.00
AM Rahane,False,c Yadav b Chahar,Rajasthan Royals,Mumbai Indians,65,47,74,6,2,138.29
SV Samson,False,c Pollard b Chahar,Rajasthan Royals,Mumbai Indians,5,7,13,1,0,71.42
SPD Smith,True,not out,Rajasthan Royals,Mumbai Indians,34,33,58,1,1,103.03
BA Stokes,False,b Chahar,Rajasthan Royals,Mumbai Indians,23,15,37,2,1,153.33
R Parag,False,run out (Cutting/Pandya),Rajasthan Royals,Mumbai Indians,10,7,16,0,1,142.85
AJ Turner,False,lbw b Bumrah,Rajasthan Royals,Mumbai Indians,13,9,20,1,1,144.44
STR Binny,True,not out,Rajasthan Royals,Mumbai Indians,2,2,4,0,0,100.00

In [125]:
bowling = bowling.set_index("name")
bowling

,team,opponent,overs,maidens,conceded,wickets,economy,dots,fours,sixes,wides,noballs
name,,,,,,,,,,,,
STR Binny,Rajasthan Royals,Mumbai Indians,3,0,19,1,6.33,8,2,0,0,0
DS Kulkarni,Rajasthan Royals,Mumbai Indians,3,0,31,0,10.33,6,4,1,1,0
S Gopal,Rajasthan Royals,Mumbai Indians,4,0,21,2,5.25,8,1,0,0,0
JC Archer,Rajasthan Royals,Mumbai Indians,4,0,22,1,5.50,14,2,1,0,0
JD Unadkat,Rajasthan Royals,Mumbai Indians,4,0,46,1,11.50,6,2,3,3,0
R Parag,Rajasthan Royals,Mumbai Indians,2,0,17,0,8.50,2,0,1,0,0
HH Pandya,Mumbai Indians,Rajasthan Royals,4,0,31,0,7.75,10,5,0,0,0
KH Pandya,Mumbai Indians,Rajasthan Royals,2,0,24,0,12.00,1,4,0,0,0
SL Malinga,Mumbai Indians,Rajasthan Royals,3.1,0,27,0,8.52,6,4,0,0,0
RD Chahar,Mumbai Indians,Rajasthan Royals,4,0,29,3,7.25,10,3,1,0,0
JJ Bumrah,Mumbai Indians,Rajasthan Royals,4,0,21,1,5.25,8,1,0,0,0
M Markande,Mumbai Indians,Rajasthan Royals,2,0,24,0,12.00,4,2,2,0,0

In [126]:
players = {}
for (i, player) in enumerate(Match(match_id).team_1_players):
    short_name = player['mobile_name']
    full_name = player['card_long']
    players[short_name] = full_name
for (i, player) in enumerate(Match(match_id).team_2_players):
    short_name = player['mobile_name']
    full_name = player['card_long']
    players[short_name] = full_name

In [127]:
dismissals = batting['out'][batting['out'] != 'not out']

In [142]:
run_out_fielders = []
catch_fielders = []
stumping_wk = []

for d in dismissals:
    if ('run out' in d):
        player_short_name = d[d.find("(")+1:d.find(")")]
        if ("/" in player_short_name):
            player_short_name = player_short_name[0:player_short_name.find("/")]
        run_out_fielders.append(players[player_short_name])
    elif (d.startswith('c  b')):
        player_short_name = d.split(" ")[3]
        if ("/" in player_short_name):
            player_short_name = player_short_name[0:player_short_name.find("/")]
        catch_fielders.append(players[player_short_name])
    elif (d.startswith('c ')):
        player_short_name = d.split(" ")[1]
        if ("/" in player_short_name):
            player_short_name = player_short_name[0:player_short_name.find("/")]
        catch_fielders.append(players[player_short_name])
    elif (d.startswith('st ')):
        player_short_name = d.split(" ")[1]
        if (player_short_name.startswith("wk")):
            player_short_name = player_short_name[2:]
        stumping_wk.append(players[player_short_name])

In [143]:
fielding = pd.DataFrame()

for p in run_out_fielders:
    fielding = fielding.append(pd.Series([p, 'RunOut'], index=["Name","Type"]), ignore_index=True)
for p in catch_fielders:
    fielding = fielding.append(pd.Series([p, 'Catch'], index=["Name","Type"]), ignore_index=True)
for p in stumping_wk:
    fielding = fielding.append(pd.Series([p, 'Stumping'], index=["Name","Type"]), ignore_index=True)

fielding = fielding.set_index('Name')

Final Results :

A. Batting

In [144]:
batting

,isNotOut,out,team,opponent,runs,balls,mins,fours,sixes,strikeRate
name,,,,,,,,,,
Q de Kock,False,c Stokes b Gopal,Mumbai Indians,Rajasthan Royals,65,47,74,6,2,138.29
RG Sharma,False,c b Gopal,Mumbai Indians,Rajasthan Royals,5,7,13,1,0,71.42
SA Yadav,False,c Kulkarni b Binny,Mumbai Indians,Rajasthan Royals,34,33,58,1,1,103.03
HH Pandya,False,lbw b Archer,Mumbai Indians,Rajasthan Royals,23,15,37,2,1,153.33
KA Pollard,False,b Unadkat,Mumbai Indians,Rajasthan Royals,10,7,16,0,1,142.85
BCJ Cutting,True,not out,Mumbai Indians,Rajasthan Royals,13,9,20,1,1,144.44
KH Pandya,True,not out,Mumbai Indians,Rajasthan Royals,2,2,4,0,0,100.00
AM Rahane,False,c Yadav b Chahar,Rajasthan Royals,Mumbai Indians,65,47,74,6,2,138.29
SV Samson,False,c Pollard b Chahar,Rajasthan Royals,Mumbai Indians,5,7,13,1,0,71.42
SPD Smith,True,not out,Rajasthan Royals,Mumbai Indians,34,33,58,1,1,103.03
BA Stokes,False,b Chahar,Rajasthan Royals,Mumbai Indians,23,15,37,2,1,153.33
R Parag,False,run out (Cutting/Pandya),Rajasthan Royals,Mumbai Indians,10,7,16,0,1,142.85
AJ Turner,False,lbw b Bumrah,Rajasthan Royals,Mumbai Indians,13,9,20,1,1,144.44
STR Binny,True,not out,Rajasthan Royals,Mumbai Indians,2,2,4,0,0,100.00

B. Bowling

In [145]:
bowling

,team,opponent,overs,maidens,conceded,wickets,economy,dots,fours,sixes,wides,noballs
name,,,,,,,,,,,,
STR Binny,Rajasthan Royals,Mumbai Indians,3,0,19,1,6.33,8,2,0,0,0
DS Kulkarni,Rajasthan Royals,Mumbai Indians,3,0,31,0,10.33,6,4,1,1,0
S Gopal,Rajasthan Royals,Mumbai Indians,4,0,21,2,5.25,8,1,0,0,0
JC Archer,Rajasthan Royals,Mumbai Indians,4,0,22,1,5.50,14,2,1,0,0
JD Unadkat,Rajasthan Royals,Mumbai Indians,4,0,46,1,11.50,6,2,3,3,0
R Parag,Rajasthan Royals,Mumbai Indians,2,0,17,0,8.50,2,0,1,0,0
HH Pandya,Mumbai Indians,Rajasthan Royals,4,0,31,0,7.75,10,5,0,0,0
KH Pandya,Mumbai Indians,Rajasthan Royals,2,0,24,0,12.00,1,4,0,0,0
SL Malinga,Mumbai Indians,Rajasthan Royals,3.1,0,27,0,8.52,6,4,0,0,0
RD Chahar,Mumbai Indians,Rajasthan Royals,4,0,29,3,7.25,10,3,1,0,0
JJ Bumrah,Mumbai Indians,Rajasthan Royals,4,0,21,1,5.25,8,1,0,0,0
M Markande,Mumbai Indians,Rajasthan Royals,2,0,24,0,12.00,4,2,2,0,0

C. Fielding

In [146]:
fielding

               Type
Name
BCJ Cutting  RunOut
BA Stokes     Catch
S Gopal       Catch
DS Kulkarni   Catch
SA Yadav      Catch
KA Pollard    Catch

D. Man of the Match

In [108]:
print("Player of the Match ",playerOfTheMatch,sep=":")

Player of the Match :Shane Watson