In [250]:
import warnings
warnings.filterwarnings('ignore')

The next cell needs to be executed only once - the first time when you are running this on a particular host

In [ ]:
!pip install python-espncricinfo
!pip install grequests
!pip install pandas
!pip install numpy

This will take a while:

In [251]:
from espncricinfo.summary import Summary
from espncricinfo.match import Match 
from espncricinfo.series import Series
from espncricinfo.exceptions import MatchNotFoundError, NoScorecardError

In [252]:
from bs4 import BeautifulSoup

In [253]:
import json
import requests

In [254]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

Get a match id as import from user. Match id is a numeric value (e.g 1178415) used by espncricinfo as unique identifier for a match

In [255]:
match_id = input("Please enter match id :")

Please enter match id :1178415

Based on the match_id, generate the scorecard URL

In [256]:
url = Match(match_id).match_url
print("Will extract match details from ", url)

Will extract match details from  http://www.espncricinfo.com/matches/engine/match/1178415.html

In [257]:
match_html = Match(match_id).html

In [258]:
match_json = json.loads(match_html.find_all('script')[12].get_text().replace("\n", " ").replace('window.__INITIAL_STATE__ =','').replace('&dagger;','wk').replace('&amp;','').replace('wkts;','wkts,').replace('wkt;','wkt,').strip().replace('};', "}};").split('};')[0])

In [259]:
batting_innings_1 = pd.DataFrame(match_json['gamePackage']['scorecard']['innings']['1']['batsmen'])
batting_innings_1.head()

,captain,commentary,hasVideoId,href,isNotOut,name,roles,runningOver,runningScore,shortText,stats,trackingName
0,False,,False,http://www.espncricinfo.com/ci/content/player/...,True,AM Rahane,,{},{},not out,"[{'name': 'runs', 'text': 'R', 'value': '105'}...",&lpos=cricket:game:scorecard:player
1,False,<strong>Has Rahane sold Samson down the river?...,False,http://www.espncricinfo.com/ci/content/player/...,False,SV Samson,wk,{'overs': 1.1},"{'wickets': 1, 'runs': 5}",run out (Rabada),"[{'name': 'runs', 'text': 'R', 'value': '0'}, ...",&lpos=cricket:game:scorecard:player
2,True,<strong>there's the breakthrough</strong>! Len...,False,http://www.espncricinfo.com/ci/content/player/...,False,SPD Smith,(c),{'overs': 13.1},"{'wickets': 2, 'runs': 135}",c Morris b Patel,"[{'name': 'runs', 'text': 'R', 'value': '50'},...",&lpos=cricket:game:scorecard:player
3,False,"full ball, and he has muscled this towards lon...",False,http://www.espncricinfo.com/ci/content/player/...,False,BA Stokes,,{'overs': 15.5},"{'wickets': 3, 'runs': 157}",c Iyer b Morris,"[{'name': 'runs', 'text': 'R', 'value': '8'}, ...",&lpos=cricket:game:scorecard:player
4,False,"<strong>GONE AGAIN!</strong> Slower ball, outs...",False,http://www.espncricinfo.com/ci/content/player/...,False,AJ Turner,,{'overs': 16.4},"{'wickets': 4, 'runs': 163}",c Rutherford b Sharma,"[{'name': 'runs', 'text': 'R', 'value': '0'}, ...",&lpos=cricket:game:scorecard:player

In [260]:
bat1_label = match_json['gamePackage']['scorecard']['innings']['1']['title']
bat1_label_splits = bat1_label.split(' ')
bat1_label_splits.pop()
bat1_team =  " ".join(bat1_label_splits)
print(bat1_team, "batted first")

Rajasthan Royals batted first

In [261]:
batting_innings_2 = pd.DataFrame(match_json['gamePackage']['scorecard']['innings']['2']['batsmen'])
batting_innings_2.head()

,captain,commentary,hasVideoId,href,isNotOut,name,roles,runningOver,runningScore,shortText,stats,trackingName
0,False,"tossed up, and he has played this towards long...",False,http://www.espncricinfo.com/ci/content/player/...,False,PP Shaw,,{'overs': 16.4},"{'wickets': 3, 'runs': 161}",c Parag b Gopal,"[{'name': 'runs', 'text': 'R', 'value': '42'},...",&lpos=cricket:game:scorecard:player
1,False,<strong>Shreyas places faith in the googly aga...,False,http://www.espncricinfo.com/ci/content/player/...,False,S Dhawan,,{'overs': 7.3},"{'wickets': 1, 'runs': 72}",st wkSamson b Gopal,"[{'name': 'runs', 'text': 'R', 'value': '54'},...",&lpos=cricket:game:scorecard:player
2,True,<strong>it's the old saying about adding two w...,False,http://www.espncricinfo.com/ci/content/player/...,False,SS Iyer,(c),{'overs': 8.5},"{'wickets': 2, 'runs': 77}",c Stokes b Parag,"[{'name': 'runs', 'text': 'R', 'value': '4'}, ...",&lpos=cricket:game:scorecard:player
3,False,,False,http://www.espncricinfo.com/ci/content/player/...,True,RR Pant,wk,{},{},not out,"[{'name': 'runs', 'text': 'R', 'value': '78'},...",&lpos=cricket:game:scorecard:player
4,False,"short, and he has looked to slice this towards...",False,http://www.espncricinfo.com/ci/content/player/...,False,SE Rutherford,,{'overs': 17.6},"{'wickets': 4, 'runs': 175}",c Parag b Kulkarni,"[{'name': 'runs', 'text': 'R', 'value': '11'},...",&lpos=cricket:game:scorecard:player

In [262]:
bat2_label = match_json['gamePackage']['scorecard']['innings']['2']['title']
bat2_label_splits = bat2_label.split(' ')
bat2_label_splits.pop()
bat2_team =  " ".join(bat2_label_splits)
print(bat2_team, "batted second")

Delhi Capitals batted second

In [263]:
batting_innings_1['Team'] = bat1_team
batting_innings_1['Opponent'] = bat2_team
batting_innings_2['Team'] = bat2_team
batting_innings_2['Opponent'] = bat1_team

In [264]:
def flatten(js):
    return pd.DataFrame(js).set_index(['text','name']).squeeze()

Extract batting stats for batting innings 1

In [265]:
batting_innings_1_stats = batting_innings_1.stats.apply(flatten)
batting_innings_1_stats

text    R          B       M    4s    6s         SR
name runs ballsFaced minutes fours sixes strikeRate
0     105         63     100    11     3     166.66
1       0          0       7     0     0          -
2      50         32      57     8     0     156.25
3       8          8      15     1     0     100.00
4       0          1       6     0     0       0.00
5      19         13      15     2     0     146.15
6       4          3       3     1     0     133.33

Extract batting stats for batting innings 2

In [266]:
batting_innings_2_stats = batting_innings_1.stats.apply(flatten)
batting_innings_2_stats

text    R          B       M    4s    6s         SR
name runs ballsFaced minutes fours sixes strikeRate
0     105         63     100    11     3     166.66
1       0          0       7     0     0          -
2      50         32      57     8     0     156.25
3       8          8      15     1     0     100.00
4       0          1       6     0     0       0.00
5      19         13      15     2     0     146.15
6       4          3       3     1     0     133.33

In [267]:
def remove_extra_cols_bat(df):
    if df.columns.contains('captain'):
        df = df.drop(['captain','commentary','runningScore','runningOver', 'stats','hasVideoId','href','roles','trackingName'], axis=1)
    return df

In [268]:
batting_innings_1 = remove_extra_cols_bat(batting_innings_1)
batting_innings_2 = remove_extra_cols_bat(batting_innings_2)

In [269]:
batting_innings_1

,isNotOut,name,shortText,Team,Opponent
0,True,AM Rahane,not out,Rajasthan Royals,Delhi Capitals
1,False,SV Samson,run out (Rabada),Rajasthan Royals,Delhi Capitals
2,False,SPD Smith,c Morris b Patel,Rajasthan Royals,Delhi Capitals
3,False,BA Stokes,c Iyer b Morris,Rajasthan Royals,Delhi Capitals
4,False,AJ Turner,c Rutherford b Sharma,Rajasthan Royals,Delhi Capitals
5,False,STR Binny,b Rabada,Rajasthan Royals,Delhi Capitals
6,False,R Parag,b Rabada,Rajasthan Royals,Delhi Capitals

In [270]:
batting_innings_2

,isNotOut,name,shortText,Team,Opponent
0,False,PP Shaw,c Parag b Gopal,Delhi Capitals,Rajasthan Royals
1,False,S Dhawan,st wkSamson b Gopal,Delhi Capitals,Rajasthan Royals
2,False,SS Iyer,c Stokes b Parag,Delhi Capitals,Rajasthan Royals
3,True,RR Pant,not out,Delhi Capitals,Rajasthan Royals
4,False,SE Rutherford,c Parag b Kulkarni,Delhi Capitals,Rajasthan Royals
5,True,CA Ingram,not out,Delhi Capitals,Rajasthan Royals

In [271]:
full_batting_innings_1 = pd.concat([batting_innings_1, batting_innings_1_stats], axis=1)
full_batting_innings_1 = full_batting_innings_1.dropna()
full_batting_innings_1

,isNotOut,name,shortText,Team,Opponent,"(R, runs)","(B, ballsFaced)","(M, minutes)","(4s, fours)","(6s, sixes)","(SR, strikeRate)"
0,True,AM Rahane,not out,Rajasthan Royals,Delhi Capitals,105,63,100,11,3,166.66
1,False,SV Samson,run out (Rabada),Rajasthan Royals,Delhi Capitals,0,0,7,0,0,-
2,False,SPD Smith,c Morris b Patel,Rajasthan Royals,Delhi Capitals,50,32,57,8,0,156.25
3,False,BA Stokes,c Iyer b Morris,Rajasthan Royals,Delhi Capitals,8,8,15,1,0,100.00
4,False,AJ Turner,c Rutherford b Sharma,Rajasthan Royals,Delhi Capitals,0,1,6,0,0,0.00
5,False,STR Binny,b Rabada,Rajasthan Royals,Delhi Capitals,19,13,15,2,0,146.15
6,False,R Parag,b Rabada,Rajasthan Royals,Delhi Capitals,4,3,3,1,0,133.33

In [272]:
full_batting_innings_2 = pd.concat([batting_innings_2, batting_innings_2_stats], axis=1)
full_batting_innings_2 = full_batting_innings_2.dropna()
full_batting_innings_2

,isNotOut,name,shortText,Team,Opponent,"(R, runs)","(B, ballsFaced)","(M, minutes)","(4s, fours)","(6s, sixes)","(SR, strikeRate)"
0,False,PP Shaw,c Parag b Gopal,Delhi Capitals,Rajasthan Royals,105,63,100,11,3,166.66
1,False,S Dhawan,st wkSamson b Gopal,Delhi Capitals,Rajasthan Royals,0,0,7,0,0,-
2,False,SS Iyer,c Stokes b Parag,Delhi Capitals,Rajasthan Royals,50,32,57,8,0,156.25
3,True,RR Pant,not out,Delhi Capitals,Rajasthan Royals,8,8,15,1,0,100.00
4,False,SE Rutherford,c Parag b Kulkarni,Delhi Capitals,Rajasthan Royals,0,1,6,0,0,0.00
5,True,CA Ingram,not out,Delhi Capitals,Rajasthan Royals,19,13,15,2,0,146.15

In [273]:
batting = pd.concat([full_batting_innings_1, full_batting_innings_2], axis=0)
batting

,isNotOut,name,shortText,Team,Opponent,"(R, runs)","(B, ballsFaced)","(M, minutes)","(4s, fours)","(6s, sixes)","(SR, strikeRate)"
0,True,AM Rahane,not out,Rajasthan Royals,Delhi Capitals,105,63,100,11,3,166.66
1,False,SV Samson,run out (Rabada),Rajasthan Royals,Delhi Capitals,0,0,7,0,0,-
2,False,SPD Smith,c Morris b Patel,Rajasthan Royals,Delhi Capitals,50,32,57,8,0,156.25
3,False,BA Stokes,c Iyer b Morris,Rajasthan Royals,Delhi Capitals,8,8,15,1,0,100.00
4,False,AJ Turner,c Rutherford b Sharma,Rajasthan Royals,Delhi Capitals,0,1,6,0,0,0.00
5,False,STR Binny,b Rabada,Rajasthan Royals,Delhi Capitals,19,13,15,2,0,146.15
6,False,R Parag,b Rabada,Rajasthan Royals,Delhi Capitals,4,3,3,1,0,133.33
0,False,PP Shaw,c Parag b Gopal,Delhi Capitals,Rajasthan Royals,105,63,100,11,3,166.66
1,False,S Dhawan,st wkSamson b Gopal,Delhi Capitals,Rajasthan Royals,0,0,7,0,0,-
2,False,SS Iyer,c Stokes b Parag,Delhi Capitals,Rajasthan Royals,50,32,57,8,0,156.25
3,True,RR Pant,not out,Delhi Capitals,Rajasthan Royals,8,8,15,1,0,100.00
4,False,SE Rutherford,c Parag b Kulkarni,Delhi Capitals,Rajasthan Royals,0,1,6,0,0,0.00
5,True,CA Ingram,not out,Delhi Capitals,Rajasthan Royals,19,13,15,2,0,146.15

Tidy up the column names

In [274]:
batting.columns = ["isNotOut","name","out","team","opponent","runs","balls","mins","fours","sixes","strikeRate"]
batting

,isNotOut,name,out,team,opponent,runs,balls,mins,fours,sixes,strikeRate
0,True,AM Rahane,not out,Rajasthan Royals,Delhi Capitals,105,63,100,11,3,166.66
1,False,SV Samson,run out (Rabada),Rajasthan Royals,Delhi Capitals,0,0,7,0,0,-
2,False,SPD Smith,c Morris b Patel,Rajasthan Royals,Delhi Capitals,50,32,57,8,0,156.25
3,False,BA Stokes,c Iyer b Morris,Rajasthan Royals,Delhi Capitals,8,8,15,1,0,100.00
4,False,AJ Turner,c Rutherford b Sharma,Rajasthan Royals,Delhi Capitals,0,1,6,0,0,0.00
5,False,STR Binny,b Rabada,Rajasthan Royals,Delhi Capitals,19,13,15,2,0,146.15
6,False,R Parag,b Rabada,Rajasthan Royals,Delhi Capitals,4,3,3,1,0,133.33
0,False,PP Shaw,c Parag b Gopal,Delhi Capitals,Rajasthan Royals,105,63,100,11,3,166.66
1,False,S Dhawan,st wkSamson b Gopal,Delhi Capitals,Rajasthan Royals,0,0,7,0,0,-
2,False,SS Iyer,c Stokes b Parag,Delhi Capitals,Rajasthan Royals,50,32,57,8,0,156.25
3,True,RR Pant,not out,Delhi Capitals,Rajasthan Royals,8,8,15,1,0,100.00
4,False,SE Rutherford,c Parag b Kulkarni,Delhi Capitals,Rajasthan Royals,0,1,6,0,0,0.00
5,True,CA Ingram,not out,Delhi Capitals,Rajasthan Royals,19,13,15,2,0,146.15

In [275]:
bowling_innings_1 = pd.DataFrame(match_json['gamePackage']['scorecard']['innings']['1']['bowlers'])
bowling_innings_1

,captain,hasVideoId,href,name,roles,stats,trackingName
0,False,False,http://www.espncricinfo.com/ci/content/player/...,I Sharma,,"[{'name': 'overs', 'text': 'O', 'value': '4'},...",&lpos=cricket:game:scorecard:player
1,False,False,http://www.espncricinfo.com/ci/content/player/...,K Rabada,,"[{'name': 'overs', 'text': 'O', 'value': '4'},...",&lpos=cricket:game:scorecard:player
2,False,False,http://www.espncricinfo.com/ci/content/player/...,AR Patel,,"[{'name': 'overs', 'text': 'O', 'value': '4'},...",&lpos=cricket:game:scorecard:player
3,False,False,http://www.espncricinfo.com/ci/content/player/...,A Mishra,,"[{'name': 'overs', 'text': 'O', 'value': '3'},...",&lpos=cricket:game:scorecard:player
4,False,False,http://www.espncricinfo.com/ci/content/player/...,CH Morris,,"[{'name': 'overs', 'text': 'O', 'value': '4'},...",&lpos=cricket:game:scorecard:player
5,False,False,http://www.espncricinfo.com/ci/content/player/...,SE Rutherford,,"[{'name': 'overs', 'text': 'O', 'value': '1'},...",&lpos=cricket:game:scorecard:player

In [276]:
bowling_innings_2 = pd.DataFrame(match_json['gamePackage']['scorecard']['innings']['2']['bowlers'])
bowling_innings_2

,captain,hasVideoId,href,name,roles,stats,trackingName
0,False,False,http://www.espncricinfo.com/ci/content/player/...,STR Binny,,"[{'name': 'overs', 'text': 'O', 'value': '1'},...",&lpos=cricket:game:scorecard:player
1,False,False,http://www.espncricinfo.com/ci/content/player/...,DS Kulkarni,,"[{'name': 'overs', 'text': 'O', 'value': '4'},...",&lpos=cricket:game:scorecard:player
2,False,False,http://www.espncricinfo.com/ci/content/player/...,JD Unadkat,,"[{'name': 'overs', 'text': 'O', 'value': '3.2'...",&lpos=cricket:game:scorecard:player
3,False,False,http://www.espncricinfo.com/ci/content/player/...,S Gopal,,"[{'name': 'overs', 'text': 'O', 'value': '4'},...",&lpos=cricket:game:scorecard:player
4,False,False,http://www.espncricinfo.com/ci/content/player/...,JC Archer,,"[{'name': 'overs', 'text': 'O', 'value': '4'},...",&lpos=cricket:game:scorecard:player
5,False,False,http://www.espncricinfo.com/ci/content/player/...,R Parag,,"[{'name': 'overs', 'text': 'O', 'value': '3'},...",&lpos=cricket:game:scorecard:player

In [277]:
bowling_innings_1['Team'] = bat2_team
bowling_innings_1['Opponent'] = bat1_team
bowling_innings_2['Team'] = bat1_team
bowling_innings_2['Opponent'] = bat2_team

In [278]:
bowling_innings_1_stats = bowling_innings_1.stats.apply(flatten)
bowling_innings_1_stats

text,O,M,R,W,Econ,0s,4s,6s,WD,NB
name,overs,maidens,conceded,wickets,economyRate,dots,foursConceded,sixesConceded,wides,noballs
0,4,0,29,1,7.25,12,4,0,0,0
1,4,0,37,2,9.25,8,4,1,1,0
2,4,0,39,1,9.75,5,4,1,0,0
3,3,0,28,0,9.33,3,3,0,0,0
4,4,0,41,1,10.25,6,5,1,1,0
5,1,0,16,0,16.00,1,3,0,2,0

In [279]:
bowling_innings_2_stats = bowling_innings_2.stats.apply(flatten)
bowling_innings_2_stats

text,O,M,R,W,Econ,0s,4s,6s,WD,NB
name,overs,maidens,conceded,wickets,economyRate,dots,foursConceded,sixesConceded,wides,noballs
0,1,0,3,0,3.00,3,0,0,0,0
1,4,0,51,1,12.75,4,6,2,0,0
2,3.2,0,36,0,10.80,4,3,2,0,0
3,4,0,47,2,11.75,8,6,2,0,1
4,4,0,31,0,7.75,8,1,2,0,0
5,3,0,25,1,8.33,4,3,0,0,0

In [280]:
def remove_extra_cols_bowl(df):
    if df.columns.contains('captain'):
        df = df.drop(['captain','stats','hasVideoId','href','roles','trackingName'], axis=1)
    return df

In [281]:
bowling_innings_1 = remove_extra_cols_bowl(bowling_innings_1)
bowling_innings_2 = remove_extra_cols_bowl(bowling_innings_2)

In [282]:
bowling_innings_1

            name            Team          Opponent
0       I Sharma  Delhi Capitals  Rajasthan Royals
1       K Rabada  Delhi Capitals  Rajasthan Royals
2       AR Patel  Delhi Capitals  Rajasthan Royals
3       A Mishra  Delhi Capitals  Rajasthan Royals
4      CH Morris  Delhi Capitals  Rajasthan Royals
5  SE Rutherford  Delhi Capitals  Rajasthan Royals

In [283]:
bowling_innings_2

          name              Team        Opponent
0    STR Binny  Rajasthan Royals  Delhi Capitals
1  DS Kulkarni  Rajasthan Royals  Delhi Capitals
2   JD Unadkat  Rajasthan Royals  Delhi Capitals
3      S Gopal  Rajasthan Royals  Delhi Capitals
4    JC Archer  Rajasthan Royals  Delhi Capitals
5      R Parag  Rajasthan Royals  Delhi Capitals

In [284]:
full_bowling_innings_1 = pd.concat([bowling_innings_1, bowling_innings_1_stats], axis=1)
full_bowling_innings_1 = full_bowling_innings_1.dropna()
full_bowling_innings_1

,name,Team,Opponent,"(O, overs)","(M, maidens)","(R, conceded)","(W, wickets)","(Econ, economyRate)","(0s, dots)","(4s, foursConceded)","(6s, sixesConceded)","(WD, wides)","(NB, noballs)"
0,I Sharma,Delhi Capitals,Rajasthan Royals,4,0,29,1,7.25,12,4,0,0,0
1,K Rabada,Delhi Capitals,Rajasthan Royals,4,0,37,2,9.25,8,4,1,1,0
2,AR Patel,Delhi Capitals,Rajasthan Royals,4,0,39,1,9.75,5,4,1,0,0
3,A Mishra,Delhi Capitals,Rajasthan Royals,3,0,28,0,9.33,3,3,0,0,0
4,CH Morris,Delhi Capitals,Rajasthan Royals,4,0,41,1,10.25,6,5,1,1,0
5,SE Rutherford,Delhi Capitals,Rajasthan Royals,1,0,16,0,16.00,1,3,0,2,0

In [285]:
full_bowling_innings_2 = pd.concat([bowling_innings_2, bowling_innings_2_stats], axis=1)
full_bowling_innings_2 = full_bowling_innings_2.dropna()
full_bowling_innings_2

,name,Team,Opponent,"(O, overs)","(M, maidens)","(R, conceded)","(W, wickets)","(Econ, economyRate)","(0s, dots)","(4s, foursConceded)","(6s, sixesConceded)","(WD, wides)","(NB, noballs)"
0,STR Binny,Rajasthan Royals,Delhi Capitals,1,0,3,0,3.00,3,0,0,0,0
1,DS Kulkarni,Rajasthan Royals,Delhi Capitals,4,0,51,1,12.75,4,6,2,0,0
2,JD Unadkat,Rajasthan Royals,Delhi Capitals,3.2,0,36,0,10.80,4,3,2,0,0
3,S Gopal,Rajasthan Royals,Delhi Capitals,4,0,47,2,11.75,8,6,2,0,1
4,JC Archer,Rajasthan Royals,Delhi Capitals,4,0,31,0,7.75,8,1,2,0,0
5,R Parag,Rajasthan Royals,Delhi Capitals,3,0,25,1,8.33,4,3,0,0,0

In [286]:
bowling = pd.concat([full_bowling_innings_1, full_bowling_innings_2], axis=0)
bowling

,name,Team,Opponent,"(O, overs)","(M, maidens)","(R, conceded)","(W, wickets)","(Econ, economyRate)","(0s, dots)","(4s, foursConceded)","(6s, sixesConceded)","(WD, wides)","(NB, noballs)"
0,I Sharma,Delhi Capitals,Rajasthan Royals,4,0,29,1,7.25,12,4,0,0,0
1,K Rabada,Delhi Capitals,Rajasthan Royals,4,0,37,2,9.25,8,4,1,1,0
2,AR Patel,Delhi Capitals,Rajasthan Royals,4,0,39,1,9.75,5,4,1,0,0
3,A Mishra,Delhi Capitals,Rajasthan Royals,3,0,28,0,9.33,3,3,0,0,0
4,CH Morris,Delhi Capitals,Rajasthan Royals,4,0,41,1,10.25,6,5,1,1,0
5,SE Rutherford,Delhi Capitals,Rajasthan Royals,1,0,16,0,16.00,1,3,0,2,0
0,STR Binny,Rajasthan Royals,Delhi Capitals,1,0,3,0,3.00,3,0,0,0,0
1,DS Kulkarni,Rajasthan Royals,Delhi Capitals,4,0,51,1,12.75,4,6,2,0,0
2,JD Unadkat,Rajasthan Royals,Delhi Capitals,3.2,0,36,0,10.80,4,3,2,0,0
3,S Gopal,Rajasthan Royals,Delhi Capitals,4,0,47,2,11.75,8,6,2,0,1
4,JC Archer,Rajasthan Royals,Delhi Capitals,4,0,31,0,7.75,8,1,2,0,0
5,R Parag,Rajasthan Royals,Delhi Capitals,3,0,25,1,8.33,4,3,0,0,0

Tidy up the column names

In [287]:
bowling.columns = ['name','team','opponent','overs','maidens','conceded','wickets','economy','dots','fours','sixes','wides','noballs']
bowling

,name,team,opponent,overs,maidens,conceded,wickets,economy,dots,fours,sixes,wides,noballs
0,I Sharma,Delhi Capitals,Rajasthan Royals,4,0,29,1,7.25,12,4,0,0,0
1,K Rabada,Delhi Capitals,Rajasthan Royals,4,0,37,2,9.25,8,4,1,1,0
2,AR Patel,Delhi Capitals,Rajasthan Royals,4,0,39,1,9.75,5,4,1,0,0
3,A Mishra,Delhi Capitals,Rajasthan Royals,3,0,28,0,9.33,3,3,0,0,0
4,CH Morris,Delhi Capitals,Rajasthan Royals,4,0,41,1,10.25,6,5,1,1,0
5,SE Rutherford,Delhi Capitals,Rajasthan Royals,1,0,16,0,16.00,1,3,0,2,0
0,STR Binny,Rajasthan Royals,Delhi Capitals,1,0,3,0,3.00,3,0,0,0,0
1,DS Kulkarni,Rajasthan Royals,Delhi Capitals,4,0,51,1,12.75,4,6,2,0,0
2,JD Unadkat,Rajasthan Royals,Delhi Capitals,3.2,0,36,0,10.80,4,3,2,0,0
3,S Gopal,Rajasthan Royals,Delhi Capitals,4,0,47,2,11.75,8,6,2,0,1
4,JC Archer,Rajasthan Royals,Delhi Capitals,4,0,31,0,7.75,8,1,2,0,0
5,R Parag,Rajasthan Royals,Delhi Capitals,3,0,25,1,8.33,4,3,0,0,0

In [288]:
batting = batting.set_index("name")
batting

,isNotOut,out,team,opponent,runs,balls,mins,fours,sixes,strikeRate
name,,,,,,,,,,
AM Rahane,True,not out,Rajasthan Royals,Delhi Capitals,105,63,100,11,3,166.66
SV Samson,False,run out (Rabada),Rajasthan Royals,Delhi Capitals,0,0,7,0,0,-
SPD Smith,False,c Morris b Patel,Rajasthan Royals,Delhi Capitals,50,32,57,8,0,156.25
BA Stokes,False,c Iyer b Morris,Rajasthan Royals,Delhi Capitals,8,8,15,1,0,100.00
AJ Turner,False,c Rutherford b Sharma,Rajasthan Royals,Delhi Capitals,0,1,6,0,0,0.00
STR Binny,False,b Rabada,Rajasthan Royals,Delhi Capitals,19,13,15,2,0,146.15
R Parag,False,b Rabada,Rajasthan Royals,Delhi Capitals,4,3,3,1,0,133.33
PP Shaw,False,c Parag b Gopal,Delhi Capitals,Rajasthan Royals,105,63,100,11,3,166.66
S Dhawan,False,st wkSamson b Gopal,Delhi Capitals,Rajasthan Royals,0,0,7,0,0,-
SS Iyer,False,c Stokes b Parag,Delhi Capitals,Rajasthan Royals,50,32,57,8,0,156.25
RR Pant,True,not out,Delhi Capitals,Rajasthan Royals,8,8,15,1,0,100.00
SE Rutherford,False,c Parag b Kulkarni,Delhi Capitals,Rajasthan Royals,0,1,6,0,0,0.00
CA Ingram,True,not out,Delhi Capitals,Rajasthan Royals,19,13,15,2,0,146.15

In [289]:
bowling = bowling.set_index("name")
bowling

,team,opponent,overs,maidens,conceded,wickets,economy,dots,fours,sixes,wides,noballs
name,,,,,,,,,,,,
I Sharma,Delhi Capitals,Rajasthan Royals,4,0,29,1,7.25,12,4,0,0,0
K Rabada,Delhi Capitals,Rajasthan Royals,4,0,37,2,9.25,8,4,1,1,0
AR Patel,Delhi Capitals,Rajasthan Royals,4,0,39,1,9.75,5,4,1,0,0
A Mishra,Delhi Capitals,Rajasthan Royals,3,0,28,0,9.33,3,3,0,0,0
CH Morris,Delhi Capitals,Rajasthan Royals,4,0,41,1,10.25,6,5,1,1,0
SE Rutherford,Delhi Capitals,Rajasthan Royals,1,0,16,0,16.00,1,3,0,2,0
STR Binny,Rajasthan Royals,Delhi Capitals,1,0,3,0,3.00,3,0,0,0,0
DS Kulkarni,Rajasthan Royals,Delhi Capitals,4,0,51,1,12.75,4,6,2,0,0
JD Unadkat,Rajasthan Royals,Delhi Capitals,3.2,0,36,0,10.80,4,3,2,0,0
S Gopal,Rajasthan Royals,Delhi Capitals,4,0,47,2,11.75,8,6,2,0,1
JC Archer,Rajasthan Royals,Delhi Capitals,4,0,31,0,7.75,8,1,2,0,0
R Parag,Rajasthan Royals,Delhi Capitals,3,0,25,1,8.33,4,3,0,0,0

In [290]:
players = {}
for (i, player) in enumerate(Match(match_id).team_1_players):
    short_name = player['card_short']
    full_name = player['card_long']
    players[short_name] = full_name
for (i, player) in enumerate(Match(match_id).team_2_players):
    short_name = player['card_short']
    full_name = player['card_long']
    players[short_name] = full_name

In [291]:
dismissals = batting['out'][batting['out'] != 'not out']

In [292]:
run_out_fielders = []
catch_fielders = []
stumping_wk = []

for d in dismissals:
    if ('run out' in d):
        player_short_name = d[d.find("(")+1:d.find(")")]
        run_out_fielders.append(players[player_short_name])
    elif (d.startswith('c ')):
        player_short_name = d.split(" ")[1]
        catch_fielders.append(players[player_short_name])
    elif (d.startswith('st ')):
        player_short_name = d.split(" ")[1]
        if (player_short_name.startswith("wk")):
            player_short_name = player_short_name[2:]
        stumping_wk.append(players[player_short_name])

In [293]:
fielding = pd.DataFrame()

for p in run_out_fielders:
    fielding = fielding.append(pd.Series([p, 'RunOut'], index=["Name","Type"]), ignore_index=True)
for p in catch_fielders:
    fielding = fielding.append(pd.Series([p, 'Catch'], index=["Name","Type"]), ignore_index=True)
for p in stumping_wk:
    fielding = fielding.append(pd.Series([p, 'Stumping'], index=["Name","Type"]), ignore_index=True)

fielding = fielding.set_index('Name')

Final Results :

A. Batting

In [294]:
batting

,isNotOut,out,team,opponent,runs,balls,mins,fours,sixes,strikeRate
name,,,,,,,,,,
AM Rahane,True,not out,Rajasthan Royals,Delhi Capitals,105,63,100,11,3,166.66
SV Samson,False,run out (Rabada),Rajasthan Royals,Delhi Capitals,0,0,7,0,0,-
SPD Smith,False,c Morris b Patel,Rajasthan Royals,Delhi Capitals,50,32,57,8,0,156.25
BA Stokes,False,c Iyer b Morris,Rajasthan Royals,Delhi Capitals,8,8,15,1,0,100.00
AJ Turner,False,c Rutherford b Sharma,Rajasthan Royals,Delhi Capitals,0,1,6,0,0,0.00
STR Binny,False,b Rabada,Rajasthan Royals,Delhi Capitals,19,13,15,2,0,146.15
R Parag,False,b Rabada,Rajasthan Royals,Delhi Capitals,4,3,3,1,0,133.33
PP Shaw,False,c Parag b Gopal,Delhi Capitals,Rajasthan Royals,105,63,100,11,3,166.66
S Dhawan,False,st wkSamson b Gopal,Delhi Capitals,Rajasthan Royals,0,0,7,0,0,-
SS Iyer,False,c Stokes b Parag,Delhi Capitals,Rajasthan Royals,50,32,57,8,0,156.25
RR Pant,True,not out,Delhi Capitals,Rajasthan Royals,8,8,15,1,0,100.00
SE Rutherford,False,c Parag b Kulkarni,Delhi Capitals,Rajasthan Royals,0,1,6,0,0,0.00
CA Ingram,True,not out,Delhi Capitals,Rajasthan Royals,19,13,15,2,0,146.15

B. Bowling

In [295]:
bowling

,team,opponent,overs,maidens,conceded,wickets,economy,dots,fours,sixes,wides,noballs
name,,,,,,,,,,,,
I Sharma,Delhi Capitals,Rajasthan Royals,4,0,29,1,7.25,12,4,0,0,0
K Rabada,Delhi Capitals,Rajasthan Royals,4,0,37,2,9.25,8,4,1,1,0
AR Patel,Delhi Capitals,Rajasthan Royals,4,0,39,1,9.75,5,4,1,0,0
A Mishra,Delhi Capitals,Rajasthan Royals,3,0,28,0,9.33,3,3,0,0,0
CH Morris,Delhi Capitals,Rajasthan Royals,4,0,41,1,10.25,6,5,1,1,0
SE Rutherford,Delhi Capitals,Rajasthan Royals,1,0,16,0,16.00,1,3,0,2,0
STR Binny,Rajasthan Royals,Delhi Capitals,1,0,3,0,3.00,3,0,0,0,0
DS Kulkarni,Rajasthan Royals,Delhi Capitals,4,0,51,1,12.75,4,6,2,0,0
JD Unadkat,Rajasthan Royals,Delhi Capitals,3.2,0,36,0,10.80,4,3,2,0,0
S Gopal,Rajasthan Royals,Delhi Capitals,4,0,47,2,11.75,8,6,2,0,1
JC Archer,Rajasthan Royals,Delhi Capitals,4,0,31,0,7.75,8,1,2,0,0
R Parag,Rajasthan Royals,Delhi Capitals,3,0,25,1,8.33,4,3,0,0,0

C. Fielding

In [296]:
fielding

                   Type
Name
K Rabada         RunOut
CH Morris         Catch
SS Iyer           Catch
SE Rutherford     Catch
R Parag           Catch
BA Stokes         Catch
R Parag           Catch
SV Samson      Stumping